######################################
# requirements.txt is no longer used.
# Use poetry (pyproject.toml) instead.
######################################

# # Image manipulation
# pillow
# opencv-python
# scikit-image

# # Math & geometry
# numpy==1.19.3
# shapely==1.6.4
# scipy

# Visualization
# matplotlib

#fire
#shapely
#omegaconf
#segmentation_models_pytorch
#pytorch-lightning
#albumentations
